/* fiche style css */

@keyframes pulseLight {
    0% {
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    }
    50% {
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    }
  }
  .fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}


  @media screen and (max-width: 768px) { 
    .language-selector select {
      padding: 6px 6px;
      margin-top: 10px;
      justify-content: left;
      font-size: 10px;
      border: 1px solid #2d333b;
      border-radius: 5px;
      background-color: #020509;
      color:#f4f6fc;
      cursor: pointer;
  }
  
  .language-selector {
    margin-right: 0px;
    display: flex;
    align-items: center;
  }

  .separator-box {
    width: 70%;
    height: 1px;
    background-color: #2d333b;
    margin: 0 16px;
  }
  }

  @media screen and (min-width: 768px) { 
    .language-selector select {
      padding: 6px 7px;
      margin-top: -5px;
      font-size: 10px;
      border: 1px solid #2d333b;
      border-radius: 5px;
      background-color: #020509;
      color:#f4f6fc;
      cursor: pointer;
  }
  
  .language-selector {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  }  
  

header {
    padding: 10px 0;
    width: 100%;
    top: 0;
    background: #020509;
    border-bottom: 1px solid #f4f6fc;
    box-shadow: 0 2px 5px rgba(67, 176, 241, 0.7);
    animation: pulseLight 2s infinite ease-in-out;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #161b22;
    margin: 0;
    padding: 0;
}

body {
  opacity: 1;
  transition: opacity 0.15s ease;
}

body.fade-out {
  opacity: 0;
}


.Btn {
    width: 35px;
    height: 35px;
    background: #020509;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    z-index: 1000;
  }


  .scroll-to-top {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  position: fixed;
  cursor: pointer;
  z-index: 999;
}


.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  
  
.arrow path {
    fill: #fff;
    width: 15px;
    height: 15px;
}

.nav-menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 92vh; /* Utilise la hauteur de l'écran */
    background-color: #020509;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    border-left: 1px solid #2d333b;
    overflow-y: visible;
  }
  
  .nav-menu-mobile.active {
    transform: translateX(0); 
  }
  
  /* Mobile header avec logo */
  .mobile-header {
    border-bottom: 1px solid #8b949e;
    padding-bottom: 15px; 
    margin-bottom: 20px;
  }
  
  .mobile-logo {
    width: 46px;
    height: auto;
  }
  
  /* Mobile nav links */
  .mobile-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 25px;
  }
  
  .mobile-nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  }
  
  /* Carré avec texte et réseaux sociaux */
  .box {
    background-color: #0d1117;
    border: 1px solid #2d333b;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .box p {
    margin-bottom: 5px;
    padding-top: -10px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .instagram-link {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin: 15px 10px;
    margin-bottom: 20px;
  }
  
  /* Hamburger */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 9px;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.4s ease;
  }
  
  .hamburger .bar {
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(4.5px, 5px);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(4.5px, -5px);
  }
  
  /* Empêcher le scroll quand le menu hamburger est ouvert */
  body.menu-active {
    overflow: hidden;
  }
  
  /* Responsive : menu desktop caché */
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }

  footer {
    background: #0d1117;
    border-top: 1px solid #2d333b;
    color: #8b949e;
    text-align: center;
    padding: 25px 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: -10px;
  }   

  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .logo {
      height: 55px;
      margin-right: 50px;
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    .logo {
      height: 50px;
      margin-right: 50px;
      margin-top: 10px;
    }
  }


.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: #f4f6fc;
    font-size: 14px;
    transition: color 0.3s ease;
    text-decoration: none;
    position: relative;
}


.nav-menu a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .nav-menu a:hover::after {
    transform: scaleX(1);
  }

hr {
    margin-top: -4px;
}

.footer-text {
    font-size: 13px;
    font-weight: lighter;
}

.introduction-bloc {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 88%;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 16px;
    font-family: Helvetica, sans-serif;
  }

  .introduction-bloc .bloc-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .introduction-bloc .separator {
    width: 5px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    animation: pulseLight 2s infinite;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  }
  
  .introduction-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    font-weight: bold;
  }
  
  .introduction-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
  }


  .second-bloc {
    display: flex;
    align-items: center;
    background-color: #0d1117;
    border: 1px solid #2d333b;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 88%;
    padding: 16px;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
  }
  
  .second-bloc .bloc-title {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .second-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
  }

  .second-bloc .bloc-content {
    flex: 1;
  }
  
  .second-bloc .bloc-image img {
    width: 50px;
    height: auto;
    border-radius: 8px;
  }
  
  .second-bloc .separator {
    width: 1px;
    height: 60px;
    background-color: #8b949e;
    margin: 0 16px;
  }

  .third-bloc {
    width: 88%;
    margin: 0 auto;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 16px;
    margin-bottom: 35px;
    font-family: Helvetica, sans-serif;
  }
  
  .third-bloc .bloc-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .third-bloc .separator {
    width: 5px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    animation: pulseLight 2s infinite;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  }
  
  .third-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    font-weight: bold;
  }
  
  .third-bloc .video-grid {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .third-bloc .video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  
  .third-bloc .video-preview {
    border: 1px solid #b0b6bd;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .third-bloc .video-preview img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  
  .third-bloc .video-title {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 4px;
    color: #8b949e;
  }
  
  .third-bloc .video-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
  .third-bloc .video-rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .third-bloc .star-icon {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }
  
  .third-bloc .rating-text {
    font-size: 11px;
    color: #8b949e;
    margin-top: 10px;
  }
  
  .third-bloc .meta-separator {
    width: 2px;
    height: 12px;
    background-color: #8b949e;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .third-bloc .video-category {
    font-size: 11px;
    color: #8b949e;
    margin-top: 10px;
  }
  
  .third-bloc .video-preview:visited {
    color: #000;
  }
  
  
  .fourth-bloc {
    width : 100%;
    height: 490px;
    margin-top: 40px;
    margin-bottom: -40px;
    background-color: #020509;
    border-bottom: 1px solid #2d333b;
    text-align: center;
    margin: 0auto;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(67, 176, 241, 0.7);
    animation: pulseLight 2s infinite ease-in-out;
  }

  .fourth-bloc .logo {
    width: 50px;
    margin-top: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .fourth-bloc .title-underline {
    width: 10%;
    height: 3px;
    background: #fff;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
    margin: 8px auto 0;
  }
  
  .fourth-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .fourth-bloc .bloc-text {
    color: #8b949e;
    font-size: 13px;
    margin-bottom: 30px;
    margin-bottom: 20px;
  }
  
  .fourth-bloc .insta-post {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .fourth-bloc .insta-post img {
    width: 250px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
  
  .fifth-bloc {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 92%;
    height: 80px;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  .fifth-bloc .quote-container {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  
  .fifth-bloc .einstein-image {
    flex-shrink: 0;
    height: 100%;
    border: 1px solid #2d333b;
    border-radius: 7px;
  }
  
  .fifth-bloc .einstein-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-right: 1px solid #fff;
    box-shadow: 2px 0 6px rgba(255, 255, 255, 0.4);
  }
  
  .fifth-bloc .quote-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .fifth-bloc .bloc-title {
    color: #f4f6fc;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .fifth-bloc .bloc-text {
    font-size: 13px;
    color: #8b949e;
  }

  .topics-container {
    width: 92%;
    display: none;
    border: 1px solid #2d333b;
    border-radius: 7px;
    margin-bottom: 50px;
    background-color: #0d1117;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .topics-container .topics-title {
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  
  .topics-container .title-separator {
    width: 30px;
    height: 3px;
    background-color: white;
    animation: pulseLight 2s infinite;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    margin: 10px auto;
  }
  
  .topics-container .topics-description {
    text-align: center;
    font-size: 13px;
    color: #c9d1d9;
    margin: 15px 0 25px 0;
  }
  
  .topics-container .topics-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  /* 🔧 Modifier la largeur des petits carrés ici */
  .topics-container .topic-box {
    flex: 1 1 calc(25% - 10px); /* <<-- Change ici la largeur */
    min-width: 150px;
    border: 1px solid #2d333b;
    padding: 15px;
    border-radius: 5px;
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .topics-container .icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .topics-container .topic-icon {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topics-container .topic-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1); /* rend le SVG blanc si noir par défaut */
  }
  
  .topics-container .vertical-separator {
    width: 3px;
    height: 24px;
    background-color: #2d333b;
  }
  
  .topics-container .topic-name {
    font-size: 14px;
  }

  .topics-button {
    display: flex;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 20px;
    border : 1px solid #5c5c5c;
    background-color: #161b22;
    color: #f4f6fc;
    text-decoration: none;
    padding: 0.9rem;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
}

  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
* {
    -webkit-tap-highlight-color: transparent;
  }

  .separator-footer {
  width : 94%;
  height: 1px;
  background-color: #2d333b;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

  .breadcrumbs {
    margin: auto;
    font-family: 'Figtree', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #2d333b;
    border-radius: 7px;
    background-color: #0d1117;
    padding: 4px;
    font-family: Helvetica, sans-serif;
  }

  @media screen and (min-width: 768px) { 
    .breadcrumbs {
    width: 95%;
    }
  }

  @media screen and (max-width: 768px) { 
    .breadcrumbs {
    width: 90%;
    }
  }

  .breadcrumbs .breadcrumbs-bloc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
 
  .breadcrumbs .breadcrumbs-title {
    color: #f4f6fc;
    font-size: 8px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  #housebreadcrumbs {
    font-size: 9px;
    text-transform: none;
    font-weight: bold;
  }

  #arrowbreadcrumbs {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 9px;
  }

  a {
    all: unset;
    cursor: pointer; /* pour garder le curseur "main" */
  }

  .video-wrapper {
  padding: 30px 0;
  display: flex;
  width: 92%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 92%;
  display: none;
  height: auto;
  border: 1px solid #2d333b;
  border-radius: 7px;
  background-color: #0d1117;
  padding: 16px;
  text-align: center;
  color: white;
}

/* Titre de la section */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 10px;
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.glow-bar {
  width: 5px;
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  animation: pulseLight 2s infinite;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

.logoia {
  width: 26px;
  height: 26px;
  padding-right: -10px;
  object-fit: contain;
}

.section-title h1 {
  margin: 0;
  color: #f4f6fc;
  font-size: 14px;
  font-weight: bold;
}

/* Bloc de vidéo stylisé séparément */
.video-box {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.video-box img.thumbnail {
  width: 300px;
  height: auto;
  border: 1px solid #b0b6bd;
  border-radius: 6px;
  margin-bottom: 12px;
}

.video-box h2 {
  font-size: 15px;
  margin: 19px 0 25px;
  font-weight: bold;
  color: #fff;
}

.video-box p {
  margin-bottom: 14px;
  color: #8b949e;
  font-size: 13px;
}
.video-box h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  display: none;
}

/* Bouton CTA */
.cta-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border : 1px solid #b0b6bd;
  background-color: #161b22;
  color: #f4f6fc;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 13px 25px;
  margin-top: 16px;
  margin-bottom: 9px;
  text-decoration: none;
  transition: background 0.3s ease;
}


.cta-button .icon-next {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.kucace {
  width: 90%;
  display: flex;
  display: none;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #2d333b;
  border-radius: 7px;
  background-color: #0d1117;
  box-sizing: border-box;
}

.kucace .kucace-image {
  width: 70%;
  border: 1px solid #2d333b;
  object-fit: cover;
  border-radius: 5px;
}

.kucace .kucace-texte {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 14px;
  color: #ffffff;
}

.kucace h3 {
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 14px;
  color: #f4f6fc;
  font-size: 14px;
  font-weight: bold;
}

.kucace p {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 14px;
  color: #8b949e;
  font-size: 12px;
}

.kucace span {
  margin: 0 auto;
  padding-left: 14px;
  color: #8b949e;
  font-size: 12px;
  padding-bottom: 10px;
}

.kucace .kucace-button {
  border : 1px solid #5c5c5c;
  background-color: #161b22;
  color: #f4f6fc;
  font-size: 13px;
  margin: 0 auto;
  font-family: 'Figtree', sans-serif;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  width: 18%
}

.kucace-separator {
  width: 18%;
  height: 3px;
  background: #fff;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
  margin: 8px auto 0;
  margin-bottom: 20px;
}

.hero-v12 {
  background-color: #020509;
  color: white;
  display: none;
  height: 90vh;
  position: relative;
  overflow: hidden;
 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vortex {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle, rgba(255,255,255,0.02) 0%, transparent 80%);
  animation: spinVortex 20s linear infinite;
  border-radius: 50%;
  filter: blur(10px);
}

@keyframes spinVortex {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-v12::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #020509, #fff);
}


